In [1]:
## Pandas
import pandas as pd
## Numpy
import numpy as np

import json, os, time

import tmdbsimple as tmdb

from tqdm.notebook import tqdm_notebook

import gzip

In [7]:
# Files
tmdb_2000 = pd.read_csv("Data/final_tmdb_data_2000.csv.gz")
tmdb_2001 = pd.read_csv("Data/final_tmdb_data_2001.csv.gz")

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.326,1187.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,...,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.536,124.0,PG-13

In [3]:
# Combine

Files = [tmdb_2000, tmdb_2001]

combined = pd.concat(Files)

In [4]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2568 entries, 0 to 1330
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2568 non-null   object
 1   adult                  2566 non-null   float64
 2   backdrop_path          1397 non-null   object
 3   belongs_to_collection  205 non-null    object
 4   budget                 2566 non-null   float64
 5   genres                 2566 non-null   object
 6   homepage               173 non-null    object
 7   id                     2566 non-null   float64
 8   original_language      2566 non-null   object
 9   original_title         2566 non-null   object
 10  overview               2516 non-null   object
 11  popularity             2566 non-null   float64
 12  poster_path            2308 non-null   object
 13  production_companies   2566 non-null   object
 14  production_countries   2566 non-null   object
 15  release_date           2547 non-null   object
 16  revenue                2566 non-null   float64
 17  runtime                2566 non-null   float64
 18  spoken_languages       2566 non-null   object
 19  status                 2566 non-null   object
 20  tagline                1100 non-null   object
 21  title                  2566 non-null   object
 22  video                  2566 non-null   float64
 23  vote_average           2566 non-null   float64
 24  vote_count             2566 non-null   float64
 25  certification          816 non-null    object
dtypes: float64(9), object(17)
memory usage: 541.7+ KB

In [5]:
# checking for duplicates
combined.duplicated().sum()

1