# Project 3

## Part 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [5]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [6]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [7]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

# Data Info

In [8]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [9]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [10]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1969
1  tt0000002            5.8       263
2  tt0000003            6.5      1815
3  tt0000004            5.6       178
4  tt0000005            6.2      2612

In [11]:
basics = basics.replace({'\\N':np.nan})

In [12]:
# Droping all missing vlaues in 'runtimeMinutes'
basics.dropna(subset=['runtimeMinutes'], inplace=True)
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 1
startYear          170158
endYear           2848373
runtimeMinutes          0
genres              76657
dtype: int64

In [13]:
#Dropping all missing values in 'genres'
basics.dropna(subset=['genres'], inplace=True)
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          165212
endYear           2773304
runtimeMinutes          0
genres                  0
dtype: int64

In [14]:
basics.describe(exclude='number')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
count,2823080,2823080,2823079,2823079,2823080,2657868,49776,2823080,2823080
unique,2823080,10,1811819,1830691,2,149,91,867,2215
top,tt0000001,tvEpisode,Episode #1.1,Episode #1.1,0,2017,2018,30,Drama
freq,1,1433895,7664,7664,2709481,134047,2396,213151,247051

In [15]:
#Checking vlues for 'titleType'
basics["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'video', 'tvSpecial', 'videoGame'], dtype=object)

In [16]:
#Removing all rows that are not 'movie'
basics.query("titleType == 'movie'", inplace=True)

In [17]:
basics.dropna(subset = ['startYear'], inplace=True)
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear              0
endYear           375572
runtimeMinutes         0
genres                 0
dtype: int64

In [18]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375572 entries, 8 to 9835101
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          375572 non-null  object
 1   titleType       375572 non-null  object
 2   primaryTitle    375572 non-null  object
 3   originalTitle   375572 non-null  object
 4   isAdult         375572 non-null  object
 5   startYear       375572 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  375572 non-null  object
 8   genres          375572 non-null  object
dtypes: object(9)
memory usage: 28.7+ MB

In [19]:
# Changing the type to 'int' in order to process it
basics['startYear'] = basics['startYear'].astype('float')

# Checking to see if the change took place
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375572 entries, 8 to 9835101
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          375572 non-null  object
 1   titleType       375572 non-null  object
 2   primaryTitle    375572 non-null  object
 3   originalTitle   375572 non-null  object
 4   isAdult         375572 non-null  object
 5   startYear       375572 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  375572 non-null  object
 8   genres          375572 non-null  object
dtypes: float64(1), object(8)
memory usage: 28.7+ MB

In [20]:
# Keeping 'startYear' 2000-2022
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] < 2023)]

In [21]:
#Checking for years
basics['startYear'].value_counts()

2017.0    14367
2018.0    14328
2019.0    14065
2016.0    13956
2015.0    13478
2014.0    13104
2022.0    12783
2013.0    12384
2021.0    12340
2012.0    11629
2020.0    11565
2011.0    10778
2010.0    10203
2009.0     9355
2008.0     8154
2007.0     6963
2006.0     6520
2005.0     5832
2004.0     5206
2003.0     4589
2002.0     4131
2001.0     3866
2000.0     3644
Name: startYear, dtype: int64

In [22]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [23]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34803      True
61116      True
67669      True
86801      True
93938      True
           ...
9834824    True
9834833    True
9834872    True
9834917    True
9835001    True
Name: tconst, Length: 147451, dtype: bool

In [24]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9834824,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9834833,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9834872,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,NaN,84,Thriller
9834917,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9835001,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama

# Cleaning Akas

In [25]:
# Checking the values of 'region'
akas['region'].value_counts()

DE    4290944
FR    4286721
JP    4285463
IN    4226554
ES    4206860
       ...
JE          2
NU          1
TV          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

In [26]:
# Keeping only US movies
akas = akas[(akas['region'] == 'US')]
akas['region'].value_counts()

US    1435233
Name: region, dtype: int64

In [27]:
# Replace "\N" with np.nan
akas = akas.replace({'\\N':np.nan})

# Cleaning Ratings

In [28]:
# Replace '\N' with np.nan
ratings.replace({'\\N':np.nan}, inplace=True)

In [29]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers2 =ratings['tconst'].isin(akas['titleId'])
keepers2

0           True
1           True
2          False
3          False
4           True
           ...
1308738    False
1308739    False
1308740    False
1308741    False
1308742    False
Name: tconst, Length: 1308743, dtype: bool

In [30]:
ratings = ratings[keepers2]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1969
1        tt0000002            5.8       263
4        tt0000005            6.2      2612
5        tt0000006            5.1       181
6        tt0000007            5.4       818
...            ...            ...       ...
1308704  tt9916200            8.1       229
1308705  tt9916204            8.1       262
1308712  tt9916348            8.3        18
1308713  tt9916362            6.4      5320
1308718  tt9916428            3.8        14

[497835 rows x 3 columns]

# Saving New Data Sets

In [31]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [32]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [33]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)