# Project 3

## Part 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [5]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [6]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [7]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

# Data Info

In [8]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [9]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [10]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1969
1  tt0000002            5.8       263
2  tt0000003            6.5      1815
3  tt0000004            5.6       178
4  tt0000005            6.2      2612

In [11]:
basics = basics.replace({'\\N':np.nan})

In [12]:
# Droping all missing vlaues in 'runtimeMinutes'
basics.dropna(subset=['runtimeMinutes'], inplace=True)
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 1
startYear          170155
endYear           2848743
runtimeMinutes          0
genres              76652
dtype: int64

In [13]:
#Dropping all missing values in 'genres'
basics.dropna(subset=['genres'], inplace=True)
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          165209
endYear           2773679
runtimeMinutes          0
genres                  0
dtype: int64

In [14]:
#Removing all rows that are not 'movie'
basics.query("titleType == 'movie'", inplace=True)

In [15]:
basics.dropna(subset = ['startYear'], inplace=True)
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear              0
endYear           375606
runtimeMinutes         0
genres                 0
dtype: int64

In [16]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375606 entries, 8 to 9837678
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          375606 non-null  object
 1   titleType       375606 non-null  object
 2   primaryTitle    375606 non-null  object
 3   originalTitle   375606 non-null  object
 4   isAdult         375606 non-null  object
 5   startYear       375606 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  375606 non-null  object
 8   genres          375606 non-null  object
dtypes: object(9)
memory usage: 28.7+ MB

In [17]:
# Changing the type to 'int' in order to process it
basics['startYear'] = basics['startYear'].astype('float')

# Checking to see if the change took place
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 375606 entries, 8 to 9837678
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          375606 non-null  object
 1   titleType       375606 non-null  object
 2   primaryTitle    375606 non-null  object
 3   originalTitle   375606 non-null  object
 4   isAdult         375606 non-null  object
 5   startYear       375606 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  375606 non-null  object
 8   genres          375606 non-null  object
dtypes: float64(1), object(8)
memory usage: 28.7+ MB

In [18]:
# Keeping 'startYear' 2000-2022
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] < 2023)]

In [19]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [20]:
# Replace "\N" with np.nan
akas = akas.replace({'\\N':np.nan})

In [21]:
# Keeping only US movies
akas = akas[(akas['region'] == 'US')]
akas['region'].value_counts()

US    1435233
Name: region, dtype: int64

In [22]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = basics['tconst'].isin(akas['titleId'])
basics = basics[keepers]
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86658 entries, 34803 to 9837494
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86658 non-null  object
 1   titleType       86658 non-null  object
 2   primaryTitle    86658 non-null  object
 3   originalTitle   86658 non-null  object
 4   isAdult         86658 non-null  object
 5   startYear       86658 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86658 non-null  object
 8   genres          86658 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

# Cleaning Akas

In [23]:
# Checking the values of 'region'
akas['region'].value_counts()

US    1435233
Name: region, dtype: int64

# Cleaning Ratings

In [24]:
# Replace '\N' with np.nan
ratings.replace({'\\N':np.nan}, inplace=True)

In [25]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers2 =ratings['tconst'].isin(akas['titleId'])
ratings = ratings[keepers2]

# Saving New Data Sets

In [26]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [27]:
## Save current dataframe to file.
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [28]:
## Save current dataframe to file.
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)